html {
  scroll-behavior: smooth;
}

.register-page {
  background-color: #f2f2f2; /* light off-white */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 50px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #E07A5F;
  font-weight: bold;
  padding: 8px 12px;
  text-decoration: none;
}

.register-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.app-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.register-card {
  background-color: #E07A5F;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.register-card h2 {
  text-align: center;
  color: white;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.login-link {
  text-align: center;
  margin-top: 15px;
  color: white;
}

.msg {
  color: white;
  text-align: center;
}

footer {
  background: #262525;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
  border-radius: 4px;
}

.mat-input-element {
  background-color: transparent !important;
  color: black;
}

